In [1]:
from functions import *

In [2]:
df = load_data()

In [3]:
df.head()

   timestamp  income_or_spending        type   amount  month
0 2024-01-01                   0  Healthcare  1806.08      1
1 2024-01-02                   1       Bonus  2773.64      1
2 2024-01-03                   0   Transport  1654.65      1
3 2024-01-04                   0    Shopping   646.90      1
4 2024-01-05                   0        Rent  1792.09      1